 body {
    overflow-x: hidden;
 }

/* Toggle Styles */
li{
   list-style-type: none;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.well{
    margin-top: 83;
    vertical-align: middle;
}
.card{
    vertical-align: middle;
}
.img-fluid{
    vertical-align: middle;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top: 81px;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #e7e7e7
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 250px;
    }

}
