.navbar {
    background-color:blue;
}
#header a {
    color: white;
}
#avatar {
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-brand {
    margin-left: 40px;
    margin-top: 5px;
    width: 220;
    background-image: url(/img/lol-meme-2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#welcome {
    color: white;
    margin-left: 25px;
}
/*
 div button {
    width: 490px;
}
*/
@media (min-width: 992px)
.col-md-2 {
    width: 128px;
}
.card > img {
    margin: auto;
}
