<div id="body-perfil">
    <div class="row">
        <div class="col-md-3">
            <img id="user-avatar" [src]="avatar" width="300px" class="rounded img-fluid mx-auto d-block">
            <h1 class="display-4 text-center">{{username}}</h1>
            <p class="lead text-center" *ngIf="email"><i class="fa fa-envelope" aria-hidden="true"></i> Email: {{email}}</p>
            <div *ngIf="!propio">
                <button class="btn btn-block btn-info follow">Seguir</button>
                <button *ngIf="isAdmin" (click)="eliminarUsuario()" class="btn btn-block btn-danger follow">Eliminar</button>
            </div>
            <hr>
        </div>
        <div class="col-md-9">
            <div class="btn-group" role="group" aria-label="aaa">
              <button type="button" [ngClass]="{'active': opcion == 'publicadas'}" (click)="eleccion('publicadas')"  class="btn btn-lg btn-link">Publicadas</button>
              <button type="button" [ngClass]="{'active': opcion == 'seguidos'}" (click)="eleccion('seguidos')"  class="btn btn-lg btn-link">Seguidos</button>
            </div>
            <hr>
            <div *ngIf="opcion == 'publicadas'">
                <lista-vinetas [listaVinetas]="subidas"></lista-vinetas>
            </div>
        </div>
    </div>
</div>