ul {
    list-style-type: none;
}

.ComentarioTexto {
    background-color: white;
    border-radius: 60px;
    padding: 19px;
    margin-bottom: 5px;
}

.avatar {
    border-radius: 100px;
}

.avatarUsuario {
    margin: auto;
    border-radius: 50px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 30px;
}

#page-wrapper {
    background-color: #f5f5f5;
}

.card-text {
    font-size: 1.25em;
}

#pozo {
    border: none;
}

#avatarAutor {
    margin: 0 auto;
    border-radius: 20px;
}

.autor {
    background-color: transparent;
}
.img-rounded {
    margin: auto;
}
#icons-social {
    text-align:center;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.row{
    margin-right: -5px;
    margin-left: -5px;
}

#user_comment_name {
    text-align: center;
    display: block;
}

#autor_comentario_info{
	text-align: center;
}
#fecha_comentario {
		text-align: center;
		margin-left: 25px;	
}
#nuevo_comentario_group {
	text-align: center;
	padding-top: 50px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: auto;
    width: 60%;
}
#enviar_comentario_button{
	width: 60%;
}
#texto_nuevo_comentario{
	padding: 20px;
    border-radius: 20px;
}
