<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cuánto meme!</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css-based-on-template/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css-based-on-template/sb-admin.css" rel="stylesheet">
    <link href="/css-based-on-template/navbar.css" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css-based-on-template/perfil/dashboard.css" rel="stylesheet" type="text/css">
    <link href="/css-based-on-template/perfil/perfil.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="index.html"></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav"> {{#anonymous}}
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Identificate <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li> <a href="/login.html"><i class="fa fa-sign-in"></i> Log in </a> </li>
                        <li class="divider"></li>
                        <li> <a href="/signup.html"><i class="fa fa-sign-in"></i> Sign up</a> </li>
                    </ul>
                </li> {{/anonymous}} {{^anonymous}}
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Mi perfil<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li> <a href="/home"><i class="fa fa-fw fa-user"></i> Profile</a> </li>
                        <li class="divider"></li>
                        <li> </li>
                        <li>
                            <form action="/logout" method="post">
                                <input class="fa fa-fw fa-power-off" type="submit" value="Sign Out" /> </form>
                        </li>
                    </ul>
                </li> {{/anonymous}} </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li> <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a> </li>
                    <li> <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-bars fa-1x" aria-hidden="true"></i> Tags populares <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li> <a href="#">Inglip</a> </li>
                            <li> <a href="#">Yaoming</a> </li>
                            <li> <a href="#">Es gratis</a> </li>
                            <li> <a href="categoria.html">LOL</a> </li>
                            <li> <a href="#">Feels</a> </li>
                            <li> <a href="#">Feels bad man</a> </li>
                            <li> <a href="#">Feels good man</a> </li>
                        </ul>
                    </li>
                    <li> <a href=""><i class="fa fa-info-circle fa-1x" aria-hidden="true"></i> Perfil</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="container">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <legend>Resumen de la cuenta</legend>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center"> <img width="150px" class="img-responsive avatar-sombra" src="https://gamersoutreach.org/files/brand-assets/avatar.jpg">
                    <h2 class="">{{usuario.username}}</h2>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i>{{usuario.email}}</p>
                </div>
                <div class="col-md-9">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#favoritas">Viñetas favoritas</a></li>
                        <li><a data-toggle="tab" href="#publicadas">Viñetas publicadas</a></li>
                        <li><a data-toggle="tab" href="#publicar">Publicar una viñeta</a></li>
                        <li><a data-toggle="tab" href="#buscar">Buscar una viñeta</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="favoritas" class="tab-pane fade">
                            <h3>Viñetas favoritas <span class="badge">3</span></h3>
                            <hr>
                            <div class="container-fluid">
                                <div class="col-md-9"> {{#favoritas}}
                                    <div class="jumbotron">
                                        <p>Autor: <small><a href="#">{{autor}}</a></small></p>
                                        <h1>{{titulo}}</h1> <img class="img-responsive" src="{{Url}}">
                                        <p>{{descripcion}}</p>
                                        <div id="categoria" class=""><small>Tags: <a href="/tag/{{tag}}">{{tag}}</a></small></div>
                                        <div id="social" class="row">
                                            <hr>
                                            <button type="button" class="btn btn-warning btn-circle btn-lg"><span class="fa fa-star" aria-hidden="true"></span></button>
                                            <a href="details2.html">
                                                <button type="button" class="btn btn-info btn-circle btn-lg"><i class="fa fa-comments"></i> <span class="badge">3</span></button>
                                            </a>
                                            <button type="button" class="btn btn-success btn-circle btn-lg"><i class="fa fa-thumbs-up"></i>
                                                <div class="badge">30</div>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-thumbs-down"></i>
                                                <div class="badge">5</div>
                                            </button>
                                            <br>
                                            <br> </div>
                                    </div> {{/favoritas}} </div>
                                <!--<div class="col-md-3"></div>--></div>
                        </div>
                        <div id="publicadas" class="tab-pane fade">
                            <h3>Viñetas publicadas por ti <span class="badge">3</span></h3>
                            <div class="container-fluid">
                                <div class="col-md-12"> {{#usuario.viñetas}}
                                    <div class="jumbotron">
                                        <p>Autor: <small><a href="#">{{autor.username}}</a></small></p>
                                        <h1>{{titulo}}</h1> <img class="img-responsive" src="{{URL}}">
                                        <p>{{descripcion}}</p>
                                        <div id="categoria" class=""><small>Tags: {{#tags}} <a href="/tag/{{nombre}}">{{nombre}}</a> {{/tags}} </small></div>
                                        <div id="social" class="row">
                                            <hr>
                                            <button type="button" class="btn btn-warning btn-circle btn-lg"><span class="fa fa-star" aria-hidden="true"></span></button>
                                            <a href="details2.html">
                                                <button type="button" class="btn btn-info btn-circle btn-lg"><i class="fa fa-comments"></i> <span class="badge">3</span></button>
                                            </a>
                                            <button type="button" onclick="location.href='/likevineta/{{id}}'" class="btn btn-success btn-circle btn-lg"><i class="fa fa-thumbs-up"></i>
                                                <div class="badge">{{likes}}</div>
                                            </button>
                                            <Form action=d islikevineta/{{id}}>
                                                <button type="submit" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-thumbs-down"></i>
                                                    <div class="badge">{{dislikes}}</div>
                                                </button>
                                            </Form>
                                            <br>
                                            <br> </div>
                                    </div> {{/usuario.viñetas}}
                                    <!--<div class="col-md-3"></div>--></div>
                            </div>
                            <div id="publicar" class="tab-pane fade">
                                <br>
                                <legend>¡Publica tu propia viñeta!</legend>
                                <form action="action_page.php">
                                    <label for="fname">Título</label>
                                    <input type="text" id="fname" name="firstname">
                                    <label for="lname">Comentario</label>
                                    <input type="text" id="lname" name="lastname">
                                    <label for="country">Tags</label>
                                    <input type="text" id="tags" name="tags">
                                    <label>Archivo</label>
                                    <input type="file">
                                    <input type="submit" value="Submit"> </form>
                            </div>
                            <div id="buscar" class="tab-pane fade">
                                <h2>Búsqueda</h2>
                                <div>
                                    <div class="input-group col-md-12">
                                        <input type="text" class="form-control input-lg" placeholder="¿Qué viñeta quieres buscar?" />
                                        <select>
                                            <option value="titulo">Buscar por título</option>
                                            <option value="autor">Buscar por autor</option>
                                            <option value="tags">Buscar por tags</option>
                                        </select>
                                        <button type="submit" class="btn btn-info btn-lg">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>