<html>

<head>
    <!-- Bootstrap Core CSS -->
    <link href="/css-based-on-template/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css-based-on-template/sb-admin.css" rel="stylesheet">
    <link href="/css-based-on-template/navbar.css" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css-based-on-template/perfil/dashboard.css" rel="stylesheet" type="text/css">
    
    <style>
        background-color: "white";
    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="/"></a>
            </div>

        </nav>
        <div id="login-content">
        <!-- Navigation -->
        <div id="page-wrapper" class="wapper-backgroung-img">
            <div class="container-fluid" id="login-box">
                <h1>¡Bienvenido a CuantoMeme!</h1>
                <hr>
                <div class="container-fluid" >
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <div class="jumbotron" id="form-box">
                            <form action="login" method="post">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <p>
                                                    <h4>Username:</h4>
                                                </p>
                                                <input type='text' name='username' />
                                                <p>
                                                    <h4>Contraseña:</h4>
                                                </p>
                                                <input type='password' name='password' />
                                                                                                <p>
                                                    <h4>Email:</h4>
                                                </p>
                                                <input type='email' name='password' />
                                            </div>
                                            <p></p>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="button btn btn-block"><a href="http://localhost:8181">Atrás</a></button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="button btn btn-block" type='submit'>Registrarme</button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf" value="{{token}}" />
                            </form>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</body>

</html>